<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        {% for server in docker_server_list %}
        <tr height="50px">
            {% if server[3].startswith('Up') %}
            <td width="150px"><a href="container/{{server[0]}}/{{server[4]}}">{{server[0]}}</a></td>
            {% else %}
            <td width="150px">{{server[0]}}</td>
            {% endif %}
            <td width="200px">{{server[1]}}</td>
            <td width="150px">{{server[2]}}</td>
            <td width="300px">{{server[3]}}</td>
            <td width="150px">{{server[4]}}</td>
            <td width="250px">{{server[5]}}</td>
            {% if server[3].startswith('Up') %}
            <td width="250px"><a href="container/stop/{{server[0]}}">Stop</a></td>
            {% else %}
            <td width="250px"><a href="container/start/{{server[0]}}">Start</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>